.deadInsideGif {
    margin-left: 10rem;
    margin-top: 10rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: repeat-y;
}

.defaultLandPage {
    background: url('../../img/Dead_Inside.gif') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: repeat-y;
}